CompileFlags:
  Add: [-mlong-calls, -isysroot=/home/luan/.espressif/tools/xtensa-esp-elf/esp-13.2.0_20240305/xtensa-esp-elf]
  Remove: [-fno-tree-switch-conversion, -mtext-section-literals, -mlongcalls, -fstrict-volatile-bitfields]
